@{
    ViewData["Title"] = "Mission06";
}


<h1>The Joel Hilton Film Collection</h1>
<img src="~/img/JoelHiltonHeadshot.jpg" />
<div>
    <p>Today is your lucky day, look at these cool movies!</p>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieApplication">Run Movie Application</a>
</div>

<div>
    <a asp-controller="Home" asp-action="movielist">View Movie List</a>
</div>